<h1>Add a New Recipe</h1>
<form action="/new" method="POST">
Name: <input type="text" name="name">
Ingredients: <input type="text" name="ingredients">
Cook Time: <input type="integer" name="cook_time">
<input type="submit">
</form>
